export MVENTORY_SECRET_KEY='TEST'
export MVENTORY_HOSTNAME=localhost
export MVENTORY_OCTOPART_API_KEY='TEST'
export MVENTORY_STATIC_ROOT=/var/www/mventory/static
export DJANGO_SETTINGS_MODULE=mventory.settings
export MVENTORY_DB_HOST=pgsql
export MVENTORY_DB_USER=postgres
export MVENTORY_DB_NAME=mventory
export MVENTORY_DB_PASSWORD=pgsql123
export MVENTORY_DB_ENGINE=postgresql
